footer {
  padding: 2rem;
  background: rgba(0, 0, 0, 0.9);
  font-size: var(--body-font-size-s);
  color: #fff;
}
footer .footer {
  max-width: 1200px;
  margin: auto;
}
footer .footer p {
  margin: 0;
}