footer {
    padding: 2rem;
    background: rgb(0 0 0 / 90%);
    font-size: var(--body-font-size-s);
		color: #fff;

    .footer {
        max-width: 1200px;
        margin: auto;

        p {
            margin: 0;
        }
    }
}